<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437743103481-6bdc3cpt0hcnkf70tn28bp4ctb0s45af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437743103481-6bdc3cpt0hcnkf70tn28bp4ctb0s45af</string>
	<key>API_KEY</key>
	<string>AIzaSyBYUNiuCTBeaq0H6ZVi8wmVfUOvIhaG43g</string>
	<key>GCM_SENDER_ID</key>
	<string>437743103481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kaiyuan.zhao.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-fbc2d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-fbc2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437743103481:ios:5a657ae6b276957e362128</string>
</dict>
</plist>